@import '../index.css';
@import '../layouts/DashboardLayout.css';
@import '../admin/AdminLayout.css';
@import '../components/LoadingScreen.css';
@import '../components/ConfirmDialog/ConfirmDialog.css';
@import '../components/FarmFormModal/FarmFormModal.css';
@import '../components/ForgotPasswordModal/ForgotPasswordModal.css';
@import '../components/SystemFlowGuide/SystemFlowGuide.css';
@import '../pages/Login/Login.css';
@import '../pages/Register/Register.css';
@import '../pages/ResetPassword/ResetPassword.css';
@import '../pages/Dashboard/Dashboard.css';
@import '../pages/ClusterDetail/ClusterDetail.css';
@import '../pages/HarvestRecords/HarvestRecords.css';
@import '../pages/Recommendations/Recommendations.css';
@import '../pages/Settings/Settings.css';
@import '../admin/pages/AdminDashboard.css';
@import '../admin/pages/RegisteredFarmers.css';
@import '../admin/pages/Prediction.css';
@import '../admin/pages/AgriclimaticSettings.css';
